.collection-body a{
  text-decoration: none;
}

.collection-body ul{
  list-style: none;
}

.create-button{
  color: white;
  background-color: #303840;
  padding: 4px 5px;
  border-radius: 3px;
}

.create-button:hover{
  color: #def;
  background-color: #303840;
  cursor: pointer;
}

.collection-card{
  width: 250px;
  height: 270px;
  margin-right: 35px;
}

.film-stack{
  height: 200px;
}

.avatar{
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.stack-item{
  margin-right: -125px;
  box-shadow: 2px 0 7px #000;
  width: 150px;
  height: 200px;
  position: relative;
  border-radius: 4px;
  float: left;
}

.z-5{
  z-index: 5;
}

.z-4{
  z-index: 4;
}

.z-3{
  z-index: 3;
}

.z-2{
  z-index: 2;
}

.z-1{
  z-index: 1;
}

.added-list{
  border: 1px solid #345;
  width: 100%;
  min-height: 300px;
}

.collection-film-item{
  width: 30%;
  height: 450px;
}

.img-border{
  border: 2px solid transparent;
}

.img-border:hover {
  border: 2px solid #2b95ff;
}

.truncate-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.add-film-search-results{
  position: absolute;
  z-index: 10;
  background-color: #181d23;
  border-radius: 5px;
}

.add-film-search-results .link-film {
  padding: .15rem;
  border-bottom: 1px solid #808080;
}

.add-film-search-results .link-film:hover {
  background-color: #2b2a2a;
  cursor: pointer;
}

.delete-confirm-message{
  position: relative;
  z-index: 15;
  border-radius: 5px;
  float: right;
  margin-left: auto;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.film-stack-content{
  box-sizing: border-box;
  border-bottom: 1px solid #345;
}

.delete-button{
  font-size: larger;
  border-radius: 50%;
  color: antiquewhite;
  background-color: #343a40;
  border:none;
}

.delete-button:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
}

.delete-button:focus{
  outline: none;
}

.owner-name{
  line-height: 16px;
}

.owner-name-top{
  line-height: 50px;
}

.edit-button{
  color: gray;
}

.edit-button:hover{
  color: #f8f9fa;
  cursor: pointer;
}

.delete-collection-button{
  float: right;
  font-size: xx-large;
}

.confirm-button{
  background-color: #9ab;
}

.display-none{
  display: none;
}

.collection-input{
  line-height: 30px;
  font-size: large;
}