/* background color */
.bg-black {
    background-color: #000 !important;
}

.bg-light {
    background-color: #f8f9fa!important;
}

.bg-dark {
    background-color: #343a40!important;
}

.bg-danger {
    background-color: #dc3545!important;
}

.bg-warning {
    background-color: #ffc107!important;
}

.bg-muted {
    background-color: #6c757d!important;
}

.bg-success {
    background-color: #28a745!important;
}

.bg-info {
    background-color: #17a2b8!important;
}

.bg-primary {
    background-color: #007bff!important;
}
/* end background color */

/* color */
.text-light {
    color: #f8f9fa!important;
}

.text-grey {
    color: #9ab !important;
}

.text-dark {
    color: #343a40!important;
}

.text-danger {
    color: #dc3545!important;
}

.text-warning {
    color: #ffc107!important;
}

.text-muted {
    color: #6c757d!important;
}

.text-success {
    color: #28a745!important;
}

.text-info {
    color: #17a2b8!important;
}

.text-primary {
    color: #007bff!important;
}
/* end color */

/* sizing */
.w-fit {
    width: fit-content;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-full {
    width: 100%;
}

.mw-25 {
    max-width: 25%;
}

.mw-50 {
    max-width: 50%;
}

.mw-75 {
    max-width: 75%;
}

.mw-full {
    max-width: 100%;
}

.h-33 {
    height: 33%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-85{
    height: 85%;
}

.h-full {
    height: 100%;
}

.h-33 {
    height: 33%;
}
/* end sizing */

/* grid */
.container {
    margin-right: 10rem;
    margin-left: 10rem;
}

.row {
    display: flex;
}

.text-center {
    text-align: center;
}
/* end grid */

/* border */
.border {
    border: 1px solid #000;
}

.border-0 {
    border: none;
}

.border-top-0 {
    border-top: 0;
}

.border-right-0 {
    border-right: 0;
}

.border-bottom-0 {
    border-bottom: 0;
}

.border-left-0 {
    border-left: 0;
}

.rounded {
    border-radius: 5px;
}

.border-circle {
    border-radius: 50%;
}
/* end border */

/* display */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

.horizontal-between {
    justify-content: space-between;
}

.justify-content-start{
    justify-content: start;
}
/* end display */

/* position */
.position-fixed {
    position: fixed;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}
/* end position */

/* margin padding */
.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: .25rem;
}

.ml-2 {
    margin-left: .5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.ml-5 {
    margin-left: 3rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: .25rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.mr-5 {
    margin-right: 3rem;
}

.p-0{
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: .25rem;
}

.pt-2 {
    padding-top: .5rem;
}

.pt-3 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-5 {
    padding-top: 3rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: .25rem;
}

.pb-2 {
    padding-bottom: .5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: .25rem;
}

.pl-2 {
    padding-left: .5rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pl-4 {
    padding-left: 1.5rem;
}

.pl-5 {
    padding-left: 3rem;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: .25rem;
}

.pr-2 {
    padding-right: .5rem;
}

.pr-3 {
    padding-right: 1rem;
}

.pr-4 {
    padding-right: 1.5rem;
}

.pr-5 {
    padding-right: 3rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
/* end margin padding */

/* text */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.fw-bold {
    font-weight: 700!important;
}

.fw-normal {
    font-weight: 400!important;
}

.fw-light {
    font-weight: 300!important;
}

.font-italic {
    font-style: italic!important;
}

.no-underline {
    text-decoration: none;
}
/* end text */

.list-style-none {
    list-style: none;
}

.pointer {
    cursor: pointer;
}

.has-error {
    border-color: #dc3545!important;
}

.no-default-link {
    color: #000;
    text-decoration: none;
}
.font-size-title{
    font-size: 35px;
}

.font-size-large{
    font-size: large;
}

.font-size-x-large{
    font-size: x-large;
}

.font-size-medium{
    font-size: medium;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}
