.tab-bar {
    background-color: #303c48;
}

.tab-bar .tab-item {
    color: #9ab;
    cursor: pointer;
}

.tab-bar .tab-item:hover a {
    color: #40bcf4 !important;
}

.tab-bar .active{
    color: #fff;
    background-color: #678;
}

.tab-bar .tab-name {
    text-decoration: none;
    color: #9ab;
}

.user {
    cursor: pointer;
}

.user-icon {
    font-size: 20px;
}

.username {
    color: #fff;
}

.username:hover {
    color: #40bcf4 !important;
}

.user:hover {
    color: #40bcf4 !important;
}

.user-icon {
    color: #fff;
}

.content-header {
    border-bottom: 1px solid #6f6f6f;
}

.sort-item {
    background-color: #5882c3;
    border-radius: 3px;
    padding: 3px;
}

.film-item {
    position: relative;
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
}

.film-item:hover {
    border: 2px solid #2b95ff;
}

.film-item .overlay {
    display: none;
    position: absolute;
    bottom: 10px;
}

.film-item:hover .overlay {
    display: block;
}

.icon-button {
    color: #fff;
}

.watch-active {
    color: green;
}

.like-active {
    color: orange;
}

.bg-login {
    background-color: #f3f3f3;
}

.login-title {
    color: #303c48;
}

.content-login {
    align-content: center;
    display: inline-grid;
    padding-bottom: 1.5rem;
}

.border-input {
    border: 2px solid;
}