body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'DM Mono', monospace;
    color: #9ab;
}

.bg-navbar {
    background-color: #14181c !important;
}

.bg-body {
    background-color: #181d23 !important;
}

.bg-footer {
    background-color: #2c3440 !important;
}

.pl-10 {
    padding-left: 10rem;
}

.pr-10 {
    padding-right: 10rem;
}

/* navbar */
.navbar .nav-link {
    text-decoration: none;
    color: #9ab;
    font-size: 16px;
}

.navbar .nav-link:hover {
    color: #fff;
}

.active a {
    color: #fff !important;
}

.navbar .logo-text {
    font-size: 20px;
}

.navbar .input-search {
    height: 30px;
}
/* end navbar */

/* content */
.content {
    margin-top: 66px;
    width: 100%;
    height: calc(100vh - 174px);
    padding-bottom: 1.5rem;
}
/* end content */

/* footer */
.footer {
    height: 60px;
}

.footer .social-item {
    font-size: 20px;
}

.footer .footer-copyright {
    font-size: 14px;
}
/* end footer */

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100%;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100%;
}

.w-100{
    width: 100%;
}

.flex-wrap{
    flex-wrap: wrap;
}